////////////////////////
//main style for SPACER
//////////////////////

/////////////////
//less variables
///////////////

/////////
//colors
///////

@darkColor: #000000;
@lightColor: #FAFAFA;
@accColor: #86AC2A;
@secColor: #385D48;
@mainColor: #AF524D;

////////
//fonts
//////

@mainFont: 'Lato', sans-serif;
@headerFont: 'Raleway', sans-serif;

//////////
//mix-ins
////////

.header {
  font-family: @headerFont;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.5em;
}

.para {
  font-family: @mainFont;
  line-height: 2em;
}

.link {
  font-family: @mainFont;
  line-height: 2em;
  text-decoration: underline;
}

////////////////
//global styles
//////////////

html {
  background-color: #000;
}

body {
  background-color: @lightColor;
  color: @darkColor !important;
  font-family: @mainFont;
  font-size: 15px;
}

h1 {
  font-size: 2.25em;
  .header;
}

h2 {
  font-size: 1.5em;
  .header;
}

h3 {
  font-size: 1.25em;
  margin-top: 10px;
  .header;
}

img {
  max-width: 100%;
}

.btn-primary {
  background-color: @accColor;
  border: none;
  margin-bottom: .5em;
  transition: all .2s;
}

.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:hover,
.btn-primary:focus {
  background-color: @accColor - #222;
}

/////////////
//nav styles
///////////

.navbar-default {
  background-color: @darkColor;
  border-top: 4px solid @accColor;
  border-bottom: none;
  padding: .25em 0;
  transition: all .2s ease-in-out;
  z-index: 90210;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 100vh;
}

.logo-is-scrolled {
}

.is-scrolled {
}

.navbar-default .navbar-nav > li > a {
  color: @lightColor;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus {
  color: @accColor;
}

.navbar-default .navbar-brand {
  color: @accColor;
  font-family: @headerFont;
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:focus {
  color: @accColor;
}

.navbar-default .navbar-brand img {
  display: inline;
  margin-right: 10px;
  margin-top: -5px;
  width: 30px;
}

.dropdown-menu {
  background-color: @darkColor;
  border: none;
  box-shadow: none;
  padding-bottom: 15px;
  transition: all .2s ease-in-out;
}

.dropdown-menu > li > a {
  color: @lightColor;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:active {
  background-color: transparent;
  color: @accColor;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: @lightColor;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: @lightColor;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:active,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: @accColor;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
  box-shadow: none;
}

.navbar-default hr {
  margin: 10px 0 10px 0 !important
}

.active {
  color: @accColor !important;
}

.active:hover {
  color: @accColor - #222;
}

////////////////
//header styles
//////////////

.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/header-image.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: @lightColor;
  margin-bottom: 6em;
  padding: 9em 0 7em 0;
  text-align: center;
  text-shadow: 0 0 10px #000;
}

//////////////
//body styles
////////////

.example {
  color: @darkColor;
  margin: 6em 0;
  text-align: center;
}

.example img {
  border: 1px solid @accColor;
  border-radius: 5px;
  margin-top: 1em;
  width: 100%;
}

.ribbon {
  background-color: @accColor;
  margin-top: 8em;
  padding-bottom: .5em;
  text-align: center;
}

///////////////////
//dashboard styles
/////////////////

.main,
.main-form,
.main-inbox {
  color: @darkColor;
  margin-top: 2em;
  text-align: center;
}

.main h1,
.main-form h1,
.main-inbox h1 {
  color: @darkColor;
  font-size: 2em;
  margin-bottom: .5em;
  padding: .75em 0 10px;
  text-align: center;
}

.main img {
  border-radius: 0;
  height: 300px;
  width: 300px;
}

.main .space_pic,
.main-form .space_pic {
  border-radius: 0;
  margin-bottom: 1em;
  height: 300px;
  width: 300px;
}

.console {
  background-color: @lightColor;
  margin-left: 0;
  margin-right: 0;
  min-height: 75vh;
  position: relative;
}

.col-md-10 {
  padding-bottom: 5em;
}

.sidebar {
  background-color: @darkColor;
  border: 1px solid @accColor;
  padding: 6em .25em 0 .25em;
  text-align: left;
  z-index: 717;
}

.nav-sidebar li a {
  padding: .5em 2em .5em 2em;
}

.nav-sidebar hr {
  border-top: 1px solid #aaa;
}

.sidebar a {
  border-left: 2px solid @darkColor;
  color: @mainColor !important;
}

.main a {
  color: @lightColor;
}

.prof_active {
  border-left: 2px solid @accColor !important;
}

.sidebar a:hover,
.sidebar a:focus,
.sidebar a:active {
  background-color: @mainColor !important;
  color: @lightColor !important;
  text-decoration: underline;
}

.no_under:hover {
  text-decoration: none !important;
}

table {
  margin: 2em auto;
  width: 90% !important;
}

table a {
  color: @mainColor;
}

table a:hover,
table a:active,
table a:focus {
  color: @mainColor - #222;
  text-decoration: underline;
}

table td {
  text-align: left;
}

.dashboard {
  padding-top: 2em;
}

.view_message {
  padding: 0 15em 5em 15em;
}

#search_submit {
  margin-bottom: 3em;
}

#main_search {
  margin-top: 3em;
}

#results {
  margin: 4em 0;
  text-align: center;
}

#results img {
  margin: .25em 0 1em 0;
  max-width: 400px;
}

.space_result {
  margin-bottom: 5em;
}

.space_prof_result {
  margin-bottom: 1em;
}

.owner_pic {
  border-radius: 50% !important;
  height: 100px !important;
  width: 100px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

//////////////
//form styles
////////////

#modal {
  background-color: transparent;
  color: @lightColor;
  margin-top: 10em;
}

#modal .btn-primary {
  background-color: @accColor;
}

.login_header,
.user_login,
.user_register {
  background-color: @darkColor + #333;
}

.user_login,
.user_register {
  height: 22em;
}

.user_login {
  padding-left: 5em;
}

.login_header {
  padding-top: 0;
}

.login_header .modal_close {
  float: right;
  font-size: 2em;
}

.login_header .modal_close:hover {
  cursor: pointer;
}

.form-horizontal {
  padding: 0;
}

#modal .form-group {
  margin-bottom: 0;
}

#modal .btn .btn-primary {
  width: 80% !important;
}

form .cancel {
  color: @lightColor !important;
}

form .cancel:hover {
  background-color: @accColor - #222 !important;
  text-decoration: none !important;
}

.user_login input,
.user_register input {
  margin-bottom: 1em;
  width: 80%;
}

input,
optgroup,
select,
textarea {
  margin-bottom: 1em;
}

.console input, .console optgroup, .console select, .console textarea {
  margin: 1em auto !important;
  width: 50% !important;
}

.form-control:focus {
  border: 1px solid #000;
}

#error {
  margin-top: 2em;
  text-align: center;
}

//overlay when login modal is open
#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

////////////////
//widget styles
//////////////

.online_widget {
  background-color: @accColor;
  padding-bottom: 1em;
}

.online_widget h2 {
  margin-top: 10px;
}

.online_widget img {
  margin: 0 .5em;
}

////////////////
//footer styles
//////////////

footer {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/header-image.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: @lightColor;
  padding: 3em 0 3em 0;
  position: relative;
  z-index: 410;
}

footer a {
  color: @accColor;
}

footer i {
  font-size: 2.5em !important;
  margin-bottom: .5em;
  padding: 0 .25em;
}

footer a:hover,
footer a:focus,
footer a:active {
  color: @accColor - #222;
  text-decoration: underline;
}

////////////////
//media queries
//////////////

@media screen and (max-width: 768px) {
  .main h1,
  .main-form h1,
  .main-inbox h1 {
    margin-bottom: 1em;
    padding: 0;
    text-align: center;
  }
  .main-inbox {
    padding-bottom: 0;
  }
  .main img {
    height: 200px;
    width: 200px;
  }
  .main-form .space_pic,
  .main .space_pic {
    height: 200px;
    width: 200px;
  }
  .col-md-10 {
    padding-bottom: 1em;
  }
  .sidebar {
    margin: 1em auto;
    height: 320px;
    position: relative;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: left;
    width: 300px;
    z-index: 1;
  }
  .console {
    padding-bottom: 1em;
  }
  .console input, .console optgroup, .console select, .console textarea {
    margin: 1em auto !important;
    width: 90% !important;
  }
  .view_message {
    padding: 0 1em 1em 1em;
  }
  .form-control {
    margin: 1em auto;
    width: 90%;
  }
  input, optgroup, select, textarea {
    margin-bottom: 1em;
    width: 90%;
  }
  #modal {
    font-size: 1em;
    margin-top: 4em;
    text-align: center !important;
  }
  #modal input, button {
    margin: 0;
  }
  #modal h1 {
    font-size: 1em;
    margin-top: 0;
  }
  .user_login,
  .user_register {
    height: auto;
    text-align: center !important;
    z-index: 8675309;
  }
}